html {
    font-family: 'Pinyon Script', cursive;
    font-size: 25px;
    line-height: 1.4;
    background-color: #080808;
}

.nav {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    /* padding-left: 0; */
    color: #fadd50;
}
  
ul {
    list-style: none;
}

ul .menu-item-list {
    display:inline-block;
    margin-left: 15px;
    position: relative;
    text-align: center;
}
  
.nav li {
    font-size: 30px;
    margin: 0 20px;
    cursor: pointer;
}

@media (min-width: 1085px) {
    .nav {
        display: flex;
    }
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -10px 15px;
    padding: 10px;
    color: #fadd50; 
    font-size: 30px;
    text-decoration: none;
}

div {
    display: block;
}

/* .furniture-img-2 {
    background-image: url("images/claire.jpg");
} */

.sofa1 {
    background-image: url("../img/aurora.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    /* width: 700px; */
    border-radius: 10px;
}

.sofa2 {
    background-image: url("../img/claire.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    /* width: 700px; */
    border-radius: 10px;
}

.sofa3 {
    background-image: url("../img/minnie.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    /* width: 500px; */
    border-radius: 10px;
}

.sofa4 {
    background-image: url("../img/daphne.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    /* width: 700px; */
    border-radius: 10px;
}

.sofa5 {
    background-image: url("../img/elsie.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    /* width: 500px; */
    border-radius: 10px;
}

.sofa6 {
    background-image: url("../img/winston.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    /* width: 500px; */
    border-radius: 10px;
}

/* .furniture-img {
    background-size: cover;  
    background-position: center center;
    width: 125%;
    height: 400px;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
} */

.furniture-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1%;
    background-color: #080808;
    padding: 0px;
    margin-bottom: 25px;
}

@media (min-width: 500px) {
    .furniture-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.furniture-item {
    background-color: #222224;
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    border-radius: 10px;
}

.item-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 10px;
    margin: 0px;
}

.item-name li {
    list-style: none;
    padding: 0px 0px 2px 0px;
}

.item-name {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.item-name h3 {
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fadd50
}
