html {
    font-family: 'Pinyon Script', cursive;
    font-size: 25px;
    line-height: 1.4;
    background-color: #080808;
    
}

.nav {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    /* padding-left: 0; */
    color: #fadd50;
}
  
ul {
    list-style: none;
}

ul .menu-item-list {
    display:inline-block;
    margin-left: 15px;
    position: relative;
    text-align: center;
}
  
.nav li {
    font-size: 30px;
    margin: 0 20px;
    cursor: pointer;
}

@media (min-width: 1070px) {
    .nav {
        display: flex;
    }
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -10px 15px;
    padding: 10px;
    color: #fadd50; 
    font-size: 30px;
    text-decoration: none;
}

div {
    display: block;
}

.sofa {
    object-fit: contain;
    margin: 0 auto;
    /* height: 400px; */
    width: 500px;
    border-radius: 10px;
}

.sofa-img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.furniture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2%;  
    /* margin-left: 10%; */
}

@media screen and (max-width: 1070px) {
    .furniture-grid{
        /* grid-template-columns: repeat(auto-fit, minmax(850px, 1fr)); */
        /* margin-left: 30%; */
        display: grid;
        grid-gap: 2%;
    }
    
}

h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fadd50
}

h4 {
    color: #fadd50;
    margin-top: 2px;
}