html {
    font-family: 'Pinyon Script', cursive;
    font-size: 25px;
    line-height: 1.4;
    background-color: #080808;
}

.nav {
    display: none;
    flex-direction: row;
    position: relative;
    /* align-items: center;
    justify-content: space-around;  */
    /* list-style: none; */
    /* margin: 0; */
    padding: 20px;
    /* padding-left: 0;  */
    color: #fadd50;
}

@media (min-width: 1085px){
    .nav {
        display: flex;
    }
}
  
div li {
    list-style: none;
}
  
.nav li {
    font-size: 30px;
    margin: 0 20px;
    cursor: pointer;
}

.nav-container {
    position: relative;
}

.dropdown-menu {
    /* box-shadow: 0 0 2rem; 
    background-color: gray;
    opacity: 0.2; */
    display: none;
    padding: 15px;
    position: absolute; 
    /* float: none; */
    top: 75px;
    width: 300px;
    z-index: 1;
}

.dropdown-menu#menu-3 {
    left: 125px;
    min-width: auto;

  }

.dropdown-menu#menu-4 {
    left: 350px;
    min-width: auto; 
}

/* .menu-header {
    font-size: 20px;
    margin: 40px;
    padding: 0px 10px 8px 10px; 
    text-transform: uppercase;
    color: #fadd50;
    font-family: Arial, Helvetica, sans-serif;
} */

.menu-item-list {
    margin: 0;
    padding-left: 0;
}

.menu-item-list li a,
.menu-item-list li a:visited,
.menu-item-list li a:focus {
  color: gray;
  display: inline-block;
  padding: 10px; 
  text-decoration: none;
}

.menu-item-list li a:hover {
  background-color: black;
  color: #fadd50;
}

#fade-in-header {
  display: none;
  position: fixed;
  top: 0;
}

#top-nav {
  position: fixed;
}

.show {
  display: block;
}

div {
    display: block;
}


/* this is where the logo will be set */
.logo {
    height: 450px;
    width: 400px;
    /* padding: 35px; */
    margin: auto;
    background-color: #080808;
    display: flex;
    justify-content: center;
}

/* pictures will go here (carousel) */

.picture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));;
    grid-gap: 2%;
}

.sample-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;

}

.pictures {
  object-fit: contain;
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;

}

@media screen and (max-width: 1070px) {
  .picture-grid{
      grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
      margin-left; 20%;
      display: grid;
      grid-gap: 2%;
  }
  
}

p {
    font-size: 30px;
    color: #fadd50;
    text-align: center;
}

.about {
    margin: 65px;
    padding-top: 2em;
}

.bio {
    margin: 65px;
} 

.story {
    font-size: 25px;
}

h2 {
    text-align: center;
    color: white;
}

.ceo {
    /* border-radius: 25px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    height: 450px;
}

.owner {
    background-image: url("../img/owner.jpg");
    background-size: cover;
    width: 700px;
}

/* using off-canvas Navigation - hamburger code */
.controls {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .menu-control {
    fill: #fadd50;
    margin: 25px;
  }
  
  .menu {
    background-color: #080808;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.2;
    overflow-y: scroll;
    padding: 15px 30px;
    position: fixed;
    transition: all 0.35s ease-in-out;
    transform: translateX(100%);
    z-index: 10;
  }
  .menu-open {
    transform: translateX(0%);
    opacity: 0.8;
  }
  .menu a, .menu a:focus, .menu a:visited {
    color: #fadd50;
    display: block;
    font-size: 35px;
    margin: 25px auto;
    text-align: right;
    text-decoration: none;
  }
  .menu-close {
    background-color: #fadd50;
  }  

  @media (min-width: 1085px) {
    .controls {
      display: none;
    }
  }


 
